body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homediv {
  align-content: center;
  margin-top: 100px;
}

.checkboxes {
  display: inline;
}

.home-title {
  text-align: center;
  font-size: 70px;
  color: red;
  font-style: italic;
  margin-bottom: 50px;
}

.create-act-btn {
  text-align: center;
  margin-bottom: 20px;
}

.login-btn {
  text-align: center;
}

p {
  text-align: center;
}

.jumbotron {
  margin-top: 20px;
  border-style: solid;
}
