.recipe-card {
	display: flex;
	padding: 20px;
	color: #000000;
	background-color: rgb(245, 245, 245);
	box-shadow: 10px 10px 25px -16px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	margin: 0 auto 10px auto;
	max-width: 700px;
}

.recipe-card p {
	margin: 0px 20px;
	text-align: left;
	line-height: 2;
}

.recipe-card img {
	max-width: 100%;
	height: auto;
}

.category {
	font-weight: bold;
}

/* .recipe-details {
	display: block;
} */
